# Archivos y carpetas a ignorar por Git
venv/
env/
*.sqlite3
*.pyc
__pycache__/
*.log
.DS_Store
*.pyo
*.pyd
*.db
*.swp
*.bak
*.tmp

# IDEs y editores
.vscode/
.vs/
.idea/

# Archivos de entorno
.env
.env.local

# Archivos de pruebas y caché
.pytest_cache/
.coverage

# Archivos estáticos compilados
staticfiles/

# Archivos de sistema
*.exe
*.nupkg
*.dat
Thumbs.db
